*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

//breaking points

html{
    box-sizing: border-box;
    font-size: 62.5%;
    @media only screen and (min-width: 1600px){}
}

:root{
    --background-color: #F0EBEB;
    --dark-blue: #323145;
    --color-lime: #4AECDF;
    --color-white: #ffff;
    --color-toggle: #2B2A3B;
    --color-sun: #EAEF01;
    --color-moon: #DAAB04;
    --color-header: #EDECEC;
    --color-black: #222222;
    --header-shadow: 0px 4px 4px rgba(172, 172, 172, 0.25);
    --disabled-mic: #c4c4c4;
    --active-mic: #4AECDF;
    --bot-textcolor: #323145;
    --user-textcolor: #fff;
}

.darkmode{
    --background-color: #46445F;
    --dark-blue: #323145;
    --color-lime: #4AECDF;
    --color-white: #ffff;
    --color-toggle: #2B2A3B;
    --color-moon: #DAAB04;
    --color-header: #C4C4C4;
    --header-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
}

body{
    line-height:  1.6;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: var(--background-color);
    font-size: 2.6rem;
    min-height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 8rem 5rem;
    position: relative;
}