//mixins
@mixin chatbase{
    border-radius: 0px 37px 37px 37px;
}

.chatmic{ 
    position:fixed;
    bottom: 2rem;
    right: 2rem;
    height: 7.2rem;
    width: 7.2rem;
    border-radius: 50%;
    background-color: var(--disabled-mic);

    display: flex;
    justify-content: center;
    align-items: center;

    &__img{
        height: 5rem;
    }
}

.chatarea{
     padding-top: 10rem;
    margin: 3rem 0;

    &__textbase{
        width: 66%;
        padding: 2rem;
        margin: 3.5rem;

         @media only screen and (max-width: $laptop){
            width: 76%;
            margin: 2rem;
        }

    }

    &__user{
        background: var(--dark-blue);
        color: var(--user-textcolor);
        border-radius: 0px 40px 40px 40px;

    }

    &__bot{
        background: var(--color-lime);
        color: var(--bot-textcolor);
        border-radius: 40px 0px 40px 40px;
        margin: 0 auto;

    }
}