.chatUser{
    &__img{
        //position: fixed;
        height: calc(100vh - 10rem);
        margin-top: 14rem;

    }
    &__phone{
        position: fixed;

        &--case{
            position: absolute;
            height: 66rem;
        }
        &--femaleAvatar{
            position: absolute;
            top: 70%;
            left: 40%;
            transform: translate(15%, 70%);
            height: 25rem;
        }
    }

}