.chatbot{
    &__phone{
        position: relative;

        &--case{
            height: 66rem;
        }
    }

    &__body{
        position: absolute;
        top: 55%;
        left: 5%;
        transform: translate(10%, -40%);
        height: 20rem;
    }

    &__face{
        position: absolute;
        top: -19rem;
        left: -2.5rem;
    }
}

