//toggle
.label{
    height: 6.3rem;
    width: 6.3rem;
    border-radius: 50%;
    background: var(--color-toggle);
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle{ 
    margin: -3rem 60rem 2rem 5rem;
    @media only screen and (max-width: $destop){
        margin-right: 50rem;
    }
    @media only screen and (max-width: $laptop){
        margin-right: 40rem;
    }
}
.toggle-icon {
    color: var(--color-yellow);

    &__moon{
        opacity: 0;
        visibility: hidden;
        color: var(--color-moon);
    }
    &__sun{
        margin-left: -3rem;
        color: var(--color-sun);
    }

    @media only screen and (max-width: $destop){
        font-size: 3rem;
    }
}
.checkbox{ 
    visibility: hidden;
    opacity: 0;
}

.checkbox:checked + .label .toggle-icon__moon{
    visibility: visible;
    opacity: 1;
}

.checkbox:checked + .label .toggle-icon__sun{
    visibility: hidden;
    opacity: 0;
}

//header
.header-chat{
    display: flex;
    align-items: center;
    background-color: var(--color-header);
    color: var(--color-black);
    box-shadow: var(--header-shadow);
    height: 10rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;


    &__title{
        font-weight: 300;
        font-size: 6.4rem;
    }
}